* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
    color: red;
}

h2 {
    color: black;
    background: yellow;
}

.segundoTexto {
    color: white;
    background: black;
}

.largura {
    width: 200px;
    height: 200px;
}

code {
    background: gray;
}

.span {
    color:brown;
    font-size: 60px;
}