* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* .texto {
    display: block;
    background: red;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.texto2 {
    display: block;
    background: red;
    width: 100%;
    height: 200px;
    overflow: scroll;
}

.texto3 {
    display: block;
    background: red;
    width: 100%;
    height: 200px;
    overflow-y: auto;
}

div:not(.grid .col) {
    box-sizing: border-box;
    max-width: 900px;
    max-height: 900px;
    min-width: 30%;
    min-height: 30%;
    margin: 0 auto 50px auto;
    padding: 20px;
    border: 5px double black;
} */

.grid {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 73px;
    background: cyan;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background: red;
    /* border-radius: 100px 100px 100px 0px; */
    box-shadow: 0 0 5px 5px black;
}

.menu {
    width: 100%;
    position: fixed;
    background: black;
}

.menu ul {
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color:white;
    padding: 20px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover {
    background: #333;
}

.full-page {
    max-width: 100%;
    padding-top: 73px;
    height: 100vh;
    background: turquoise;
}

.full-page-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

@media all and (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
    }
}

@media all and (min-width: 1201px) {
    .grid .col {
        width: 25%;
    }
}
